body{
    background-color: black;
    color:white;
}

.hovereffect:hover{
    cursor: pointer;
    opacity: 0.4;
}

.authToggle:hover{
   cursor: pointer;
   color:rgb(27, 27, 211)!important;
  
}
.moviecard:hover{
  cursor: pointer;
  transform: scale(1.02);
  opacity: 0.8;

}

.movieDetails{
     font-family:'Times New Roman', Times, serif;
     color:rgb(199, 197, 196)
}

@media  screen and (max-width:763px) {
    .moviecard{
    width: 28vw !important;
    height:20vh !important;

    }
    .logo{
        font-size: 9px!important;
    }
    .moviecard img{
        height:64% !important;
    }
    .cardFont{
        font-size: 70% !important;       
}

.castDetails{
    display: inline !important;
}
.navSidebar{
    display: none;
}
.sidebar{
    display: block !important;
}
  .responsive{
    display: block!important;
  }
.offcanvas{
    background-color: gray;
    color:white;
    padding:1em;
width: 45% !important;
}
.slidingwindow {
height: 25vh!important;
}

}

.sidebar{
    display: none;
}

.searchBar{
     width: 49vw;
    height:5vh;
    border-radius:2em;
    padding: 1em;
}

.searchBar>div{
    width: 100%;
}

.authBox{
    min-width:18em;
   
}
.authInput{
    width:90%;

}

.cinema{
      display: grid;
grid-template-columns: repeat(7,1fr);
width: fit-content;
}