body{
    background-color: black;
    color:white;
}

.authToggle:hover{
   cursor: pointer;
   color:rgb(27, 27, 211);
  
}
.moviecard:hover{
  cursor: pointer;
  transform: scale(1.02);
  opacity: 0.8;

}

.movieDetails{
     font-family:'Times New Roman', Times, serif;
     color:rgb(199, 197, 196)
}

.searchBar{
    width: 49vw;
    height:5vh;
    border-radius:2em;
}

.authBox{
    min-width:18em;
   
}
.authInput{
    width:90%;

}